<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<pre>
---------------------------------------------------
GENERAL
---------------------------------------------------
50/50  = 50% vermiculite/50% peat moss
50/50+ = 50/50 with gypsum, lime, or oyster shell added to buffer the pH
AQ     = aqueous (water based)
BE     = Biological Efficiency
BRF    = Brown Rice Flour
BT     = Bacillus thuringiensis, (i.e. Gnatrol) kills fungus gnats and other pests
contam = contamination
D&R    = Dunk & Roll
DDI    = Double distilled De-Ionized water
DE     = Diatomaceous Earth
DEC    = Double Ended Casing
dH2O   = distilled H2O (water)
DI     = De-Ionized water
DNR    = Dunk N' Roll
DT     = Double Tub
FAE    = Fresh Air Exchange
FC     = Fruiting Chamber
FH     = Flow Hood
FOAF   = Friend Of A Friend
FSR    = Free Spore Ring
G2G    = Grain to Grain [transfer]
GB     = Glove Box
H2O2   = Hydrogen Peroxide (3% is the standard available concentration)
HEPA   = High Efficiency Particulate Arrestor
Hpoo   = Horse Dung
INC    = Incubator
INNOC  = inoculate
LECA   = Lightweight Expanded Clay Aggregate
LC     = Liquid Culture
MS     = Multi-Spore
MSI    = Multi-Spore Inoculation
MT     = Mono Tub
MYC    = Mycelium
MYG    = Mega You Grow
NOC    = inoculate
NOCK   = inoculate
PC     = Pressure Cooker
PDA    = Potato Dextrose Agar
PF     = Psilocybe Fanaticus
POO    = Poop/Manure
RH     = Realitive Humidity
SUB    = Substrate
TEK    = Technique
TiT    = Tub In Tub (Tote In Tote)
Verm   = Vermiculite
WBS    =Wild Bird seed

---------------------------------------------------
STRAIN ABBREVIATIONS
---------------------------------------------------

A = A Strain
AC = Acadian Coast
AF = South African (Note: SA is South American)
SAF = South African (Note: SA is South American)
SAT = South African (Note: SA is South American)
AMZ = Amazonian (usually PES)
AZ = Amazonian (usually PES)
AMA = Amazonian (usually PES)
AM = Amazonian (usually PES)
AR = = Argentina
AG = Argentina
AL = Allen Strain (T)
AU = Australian
B = B Plus
BHT = Ban Hua Thanon AKA PB = Pink Buffalo (T)
BLN = Ban Lipa Noi (T)
BN = Ban Nathon (T)
BS = Ban Saket (T)
BP = Bo Phut (T)
BR = Brazillian
BZ = Brazillian
BRAZ = Brazillian
BU = Burma
CA = Cambodian
CAM = Cambodian
CM = Cambodian
CO = Columbian
CR = Creeper
EG = Elephant Gate (T)
EQ = Ecuador
F = Florida Plus
FL = Florida
GC = Gulf Coast
GT = Golden Teacher
HU = Huatla
HW = Hawaiian (usually PES)
KS = Koh Samui (T)
KSSS = Koh Samui Super Strain (T)
LY = Lipa Yai
M3 = Mexican #3
MAL = Malabar
MB = Malabar
MAZ = Mazatapec
MZ = Mazatapec
MC = Mexi-Cub
MEXA = Mexican A (sclerotia)
MP = Mexican Paleneque
MR = Matias Romero
OI = Orissa India
PAN = Panama
PB = Pink Buffalo
PE = Penis Envy
PE6 = Penis Envy 6
PF = Psylocybe Fanticus' Matias Romero
PFC = Psylocybe Fanticus' Matias Romero
MR = Psylocybe Fanticus' Matias Romero
PI = Phucket Island (T)
PM = Plantasia Mystery
PR = Peurto Rican
SA = South American (Note: Don't confuse with South African)
TAP = Tapalpa
TP = Tapalpa
TAZ = Tasmanian
TC = Treasure Coast
TX = Texan
VI = Virgin Islander

---------------------------------------------------
SPECIES ABBREVIATIONS
---------------------------------------------------
AZURES = Psilocybe azurescens
COPES  = Copelandia cyanescens
CUBES  = Psilocybe cubensis
CYANS  = Psilocybe cyanescens (a woodlover, often confused with pans)
LIBS   = Liberty Caps, Psilocybe semilanceata
PANS   = Panaeolus cyanescens (a dung lover, often confused with cyans)
SUBBS  = Panaeolus subbalteatus (often confused with subs) Recently renamed Panaeolus cinctulus (Cincts)
SUBS   = Psilocybe subaeruginosa (often confused with subbs)

----------------------------------------------------
Mycological and OMC abbreviations
----------------------------------------------------
50/50  = 50% vermiculite/50% peat moss
50/50  = 50/50 with gypsum, lime, or oyster shell added to buffer the pH
AA     = All American (Company that makes the best pressure cookers)
AAPC   = All American Pressure Cooker
aq.    = aqueous (water based)
BE     = Biological Efficiency
BRF    = Brown Rice Flour
BT     = Bacillus thuringiensis, (i.e. Gnatrol) kills fungus gnats and other pests
CEV    = Closed Eye Visuals
CFM    = Cubic Feet per Minute
coir   = coco coir; coconut fiber; coconut "hair"
contam = contamination
D&R    = Dunk & Roll
DDI    = Double distilled De-Ionized water
DE     = Diatomaceous Earth
DEC    = Double Ended Casing
dH2O   = distilled H2O (water)
DI     = De-Ionized water
DNR    = Dunk N' Roll
DT     = Double Tub
EtOH   = Ethanol
FAE    = Fresh Air Exchange
FFAE   = Frequent Fresh Air Exchange
FC     = Fruiting Chamber
FH     = Flow Hood
FOAF   = Friend Of A Friend
FSR    = Free Spore Ring
G2G    = Grain to Grain [transfer]
GB     = Glove Box
GGMM   = Paul Stamets' "Growing Gourmet and Medicinal Mushrooms"
H2O2   = Hydrogen Peroxide (3% is the standard available concentration)
HEPA   = High Efficiency Particulate Arrestor
hpoo   = horse manure
HW     = Honey Water
inoc   = inoculate or inoculant
IPA    = IsoPropyl Alcohol
IYE    = In Your Experience
karo   = A brand of light corn syrup (dextrose)
KOH    = Potassium (K) Hydroxide (OH), a strong base
LC     = Liquid Culture
LS     = Lab Strain
Martha = "Martha Stewart everyday stationary storage closet", a shelf inside a zippered plastic cover
MC     = MonoCulture or Mushroom Community
MeOH   = Methanol
MIC    = Minimum Inhibitory Concentration
MMGG   = Magic Mushroom Growers Guide
MS     = Multi-Spore
MSI    = Multi-Spore Inoculation
MT     = Mono Tub
myc    = mycelium
myc piss = mycelium piss, the metabolic byproducts of mycelial respiration
noc    = inoculate
nock   = inoculate
OEV    = Open Eye Visuals
OMC    = Online Mushroom Community
ORF    = Organic Rye Flour
OTD    = Off Topic Discussion; a forum for... yep you guessed it!
OZ     = Ounce
PAM    = PolyAcrylaMide, moisture absorbent crystals
PC     = Pressure Cooker; sometimes used as shorthand for P. cubensis
PF     = Psilocybe Fanaticus, author of the "PF Tek"
pin    = primordia, the beginning of a mushroom fruit body
PM     = Private Message (click the little dot left of the name to send one)
PMP    = Poor Man's Pod
poo    = poop, manure
ppt.   = precipitate
QP     = Quarter Pound
RH     = Relative Humidity
RO     = Reverse Osmosis, as in RO water
RTF    = Read The FAQ
RTV    = Room Temperature Vulcanization (a type of rubber sealant)
SBI    = Single Basidiospore Isolate
soln   = solution
SWIM   = Someone Who Isn't Me
tek    = technique
TiT    = Tub in Tub
TLA    = Three Letter Acronym
TMC    = Paul Stamets' "The Mushroom Cultivator"
topia  = mycotopia, a shroomery knockoff created to sell Hippie3's products.
v/v    = volume/volume
verm   = vermiculite
VOC    = Volitile Organic Chemical
w/v    = weight/volume
WAF    = Wisconsin Aluminum Foundry (Makers of the All American brand)
WBS    = Wild Bird Seed
WT     = Wild Type
ID     = Inner Diameter
OD     = Outer Diameter

------------------------------------------------------------
Species abbreviations
------------------------------------------------------------
azures = Psilocybe azurescens
copes  = Copelandia cyanescens
cubes  = Psilocybe cubensis
cyans  = Psilocybe cyanescens (a woodlover, often confused with pans)
libs  = Psilocybe semilanceata (AKA Liberty Caps)
mexis  = Psilocybe mexicana (often confused with P. cubensis "Mexican")
pans  = Panaeolus cyanescens (a dung lover, often confused with cyans)
subbs  = Panaeolus subbalteatus (often confused with subs)
subs  = Psilocybe subaeruginosa (often confused with subbs)

</pre>
</body>
</html>